server:
  port: 8080

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/room_rental?createDatabaseIfNotExist=true"
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: thanhvjppro2004@gmail.com
    password: tgii dvzb nyyi bmzf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

jwt:
<<<<<<< HEAD
=======
  signerKey: "0tpW3AuazUoAL61xcfp6jz9yUmMCKHBA04OY8Z1AwZegfu5D9q/X/C7x9JTV0GcT"
  valid-duration: 50000
  refreshable-duration: 40000
>>>>>>> nhanh-cua-kiet
  secret: "0tpW3AuazUoAL61xcfp6jz9yUmMCKHBA04OY8Z1AwZegfu5D9q/X/C7x9JTV0GcT"
  expiration: 604800 #  1 day

cloudinary:
  cloud_name: "dskwek4ju"
  api_key: "575491814491519"
  api_secret: "t-az2VOpw3jOm1hdcD2SEF0C2gw"